@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.aesthetic-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #d1fae5; /* Warna hijau muda (emerald-100) saat tidak aktif */
    opacity: 0.7;
    transition: all 0.3s ease;
}

.aesthetic-pagination .swiper-pagination-bullet-active {
    width: 24px; /* Bullet aktif lebih lebar */
    border-radius: 8px;
    background-color: #059669;
    opacity: 1;
}

.aesthetic-pagination .swiper-button-next,
.aesthetic-pagination .swiper-button-prev {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
}
.aesthetic-pagination .swiper-button-next:after,
.aesthetic-pagination .swiper-button-prev:after {
    font-size: 18px;
}
.aesthetic-pagination .swiper-button-disabled {
    opacity: 0;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out;
}